//Navbar/Header
.nav-header{
  width:100%;
  display: inline-flex;
  justify-content: space-between;
  border:1px solid red;
  align-items: baseline;
  .logo-text{
    border:1px solid purple;
    align-items: baseline;
  }

  .Nav-Links-Container{
    border:1px solid silver;
    width:50%;
  }

  .Nav-links{
    display:inline-flex;
    border:1px solid blue;
    li{
      list-style: none;
      border:1px solid green;
    }

  }
}
