//variables
$maintext:#543789;
$background:#576675;

body{
  background-color: $background;
}

//Navbar/Header
.nav-header{
  width:100%;
  height:4em;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  .logo-text{
    align-items: baseline;
    font-size: 2em;
  }

  .Nav-Links-Container{
    width:50%;
  }

  .Nav-links{
    display:inline-flex;
    width:80%;
    justify-content: space-between;
    overflow:hidden;
    li{
      list-style: none;
    }

  }
}


//banner image
.banner-container{
  height:40vh;
  background-image: url(https://images.unsplash.com/photo-1553524913-efba3f0b533e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA3fHxjb2RlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60);
  opacity: 60%;
  .banner-text{
    color: $maintext;
    opacity: 100%;
  }
}


//intro
.intro-container{
  margin-top: 1rem;
  width:100%;
  // height:10em;
  background:linear-gradient(120deg,#23323D 30%, #6D8191 50%); //angle of inclination+color+end point THEN second color+start point
  display: inline-flex;
  justify-content: space-between;
  // border: 1px solid red;
}

.intro-image-container{
  width:20%;
  display: inline-flex;
  justify-content: center;
  // border: 1px solid green;
}

.profile-image{
  width:10em;
  height: 10em;
  border-radius: 100px;
  box-shadow: 5px 5px 15px black;
}

.intro-text-container{
  height:10em;
  width:80%;
  display: inline-flex;
  justify-content:center;
  align-items: center;

  .intro-text{
    width:40em;
    // border: 1px solid blue;
    overflow: scroll;
  }
}
